@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Ga+Maamli&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #006c39;
    --red: #FF0303;
}

.active {
    text-shadow: 1px 1px 4px black;
}

.green-border {
    border: 4px solid var(--green);
}

.red-border {
    border: 3px solid var(--red);
}

.header {
    font-family: "Faculty Glyphic", sans-serif;
    width: 100%;
    height: 15vh;
    border-bottom: 10px solid var(--red);
    background-color: var(--green);
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padding {
    padding: 0 1em;
}

.logo img {
    width: 130px;
    height: fit-content;
}

.quickAccess {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.quickAccess a {
    text-decoration: none;
    color: black;
}

.quickAccess a:hover {
    text-shadow: 1px 1px 4px black;
}

.quickAccess li {
    list-style: none;
}

.footer {
    width: 100%;
    height: 20vh;
    background: var(--green);
    border-top: var(--red) solid 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContent {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid;
    padding-bottom: .3em;
}

.quick-access {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.quick-access a {
    color: #000;
    text-decoration: none;
}

.quick-access a:hover {
    text-shadow: 1px 1px 4px black;
}

.bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    flex-direction: column;
}

.bottom a {
    text-decoration: none;
    color: black;
}

.bottom .phone,
.bottom .email {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottom .icon img:hover {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.bottom img {
    width: 25px;
    height: fit-content;
    margin-right: 0.5em;
}

.services {
    width: 100%;
    height: 100vh;
    background: url(media/background.svg) no-repeat center/cover;
    font-family: "Ga Maamli", sans-serif;
    padding: 0 .3em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partie1 {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.partie1 h3 {
    text-align: center;
    font-weight: 400;
}

.partie1 h1 {
    font-size: 2em;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 50%;
    flex-direction: column;
    padding: 2em;
    row-gap: 1em;
}

.imgs {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 .3em;
}

.imgTop,
.imgBottom {
    display: flex;
}

.imgTop {
    width: 100%;
    height: 50%;
    position: relative;
}

.imgBottom {
    width: 100%;
    height: 50%;
    column-gap: .5em;
    justify-content: center;
    align-items: center;
}

.Bframe,
.miniBframe {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bframe {
    background-color: var(--green);
}

.miniBframe {
    position: absolute;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.miniBframe img {
    width: 50%;
    height: 25%;
    height: fit-content;
}

.miniBframe1 {
    top: 0;
    left: 0;
    clip-path: polygon(1% 2%, 99% 2%,95% 98%, 1% 98%);
}

.Bframe1 {
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
}

.miniBframe2 {
    top: 0;
    right: 0;
    clip-path: polygon(5% 2%, 99% 2%, 99% 98%, 1% 98%);
}

.Bframe2 {
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%);
}

.frame {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame img {
    width: 70%;
    height: fit-content;
}

.partie2 {
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 8px;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.partie2 img {
    width: 80%;
    height: fit-content;
}

.currPage {
    font-family: "Sour Gummy", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.currPage h1 {
    font-weight: 800;
    font-size: 4em;
    text-shadow: 4px 4px 4px #050507;
}

.catalogue {
    width: 100%;
    height: 100vh;
}

.catalogueContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.P1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 1em
}

.catalogueFrame {
    width: 40%;
    height: 45%;
}

.catalogueFrame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}